body {
  margin: 8px;
  background: rgba(0, 0, 0, 0);

  -webkit-app-region: drag;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 300px;
  height: 60px;
  background: #f2f2f2;

  /* white */
  /* box-shadow: 0px 0px 5px 1px rgba(181,203,230,0.8); */

  /* black */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

  border-radius: 8px;
}

.component {
  height: 100%;
}

.col-left {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;

  /* dev */
  /* background: aquamarine; */
}

.col-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 160px;

  /* dev */
  /* background: burlywood; */
}

.col-right {
  display: flex;
  flex-direction: column;

  width: 80px;

  /* dev */
  /* background: darkseagreen; */
}

.col-right-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 50%;
}

.col-right-down {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 50%;
}

.song-text {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, PingFang SC, Source Han Sans CN, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-weight: 400;
  margin: 0;
}

.song-text-big {
  font-size: 15px;
  color: rgb(3,3,3);
}

.song-text-small {
  font-size: 12px;
  color: rgb(74,74,74);
}

.col-right-down-button {
  width: 20px;
  height: 20px;

  -webkit-app-region: no-drag;
}

#pausePlayButton {
  width: 50px;
  height: 50px;

  -webkit-app-region: no-drag;
}
