body {
  margin: 8px;
  background: rgba(0, 0, 0, 0);

  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

.lv1-container {
  width: 300px;

  border-radius: 8px;

  background: #f2f2f2;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.lv1-container-main {
  height: 60px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.lv1-container-login {
  height: 100px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.component {
  height: 100%;
}

.col-left {
  width: 60px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* dev */
  /* background: aquamarine; */
}

.col-middle {
  width: 160px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  /* dev */
  /* background: burlywood; */
}

.col-right {
  width: 80px;
  
  display: flex;
  flex-direction: column;

  /* dev */
  /* background: darkseagreen; */
}

.col-right-up {
  height: 50%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-right-down {
  height: 50%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.song-text {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, PingFang SC, Source Han Sans CN,
    Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-weight: 400;
}

.song-text-big {
  font-size: 15px;
  color: rgb(3, 3, 3);
}

.song-text-small {
  font-size: 12px;
  color: rgb(74, 74, 74);
}

.col-right-down-button {
  width: 20px;
  height: 20px;
}

#pausePlayButton {
  width: 50px;
  height: 50px;
}

.login-input {
  width: 50%;

  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;

  background: #f2f2f2;

  text-align: center;
}

button {
  cursor: pointer;
}
