body {
  margin: 8px;
  background: rgba(0, 0, 0, 0);

  cursor: default;

  -webkit-app-region: drag;
}

.non-draggable {
  -webkit-app-region: no-drag;
}

.lv1-container {
  width: 300px;

  border-radius: 8px;

  background: #f2f2f2;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.lv1-container-main {
  height: 60px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.lv1-container-login {
  height: 120px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.lv1-container-checkUpdate {
  height: 60px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.component {
  height: 100%;
}

.col-left {
  width: 65px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  /* dev */
  /* background: aquamarine; */
}

.col-middle {
  width: 155px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  overflow: hidden;

  /* dev */
  /* background: burlywood; */
}

.col-right {
  width: 80px;

  display: flex;
  flex-direction: column;

  /* dev */
  /* background: darkseagreen; */
}

.col-right-up {
  height: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-right-down {
  height: 50%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.base-text {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, PingFang SC, Source Han Sans CN,
    Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-weight: 400;
}

.base-text-small-grey {
  font-size: 11px;
  color: rgb(74, 74, 74);
}

.base-text-small-background {
  font-size: 11px;
  color: #f2f2f2;
}

.marquee {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-animation {
  animation: 15s wordsLoop linear infinite;
}

@keyframes wordsLoop {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}

.col-right-down-button {
  width: 20px;
  height: 20px;
}

#songTitle {
  font-size: 15px;
  color: rgb(3, 3, 3);
}

#pausePlayButton {
  width: 50px;
  height: 50px;

  margin-left: 5px;
}

.login-input {
  width: 60%;

  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;

  background: #f2f2f2;

  text-align: center;
}

#login-msg {
  margin: 0px;
}

button {
  cursor: pointer;
}
